@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "PlusJakartaSans";
}

@layer base{
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/public/fonts/PlusJakartaSans-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "PlusJakartaSans-Italic";
    src: url("/public/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.not-found-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-text1 {
  color: rgb(38, 38, 38);
  font-size: 252px;
  margin-top: -20px;
  font-weight: 900;
  margin-bottom: -20px;
  letter-spacing: -20px;
}
.not-found-container2 {
  width: 421px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-text2 {
  text-align: center;
  font-weight: 400;
}
.loader-container {
  position: fixed;
  inset: 0; /* This is shorthand for top: 0, right: 0, bottom: 0, left: 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.backdrop {
  position: fixed; /* ensure backdrop is also fixed and covers the whole screen */
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none; /* this makes sure clicks "go through" the backdrop */
}



.loader {
  z-index: 10000;
}
